body {
  background: #f0f0f0;
}
a.fa-home {
  float: left;
  font-size: 2em;
  text-decoration: none;
  margin-right: 1em;
  color: black;
}
a.fa-home:visited {
  color: black;
}
iframe {
  width: 100%;
  height: 500px;
  border: 0;
}
